body{background-color: rgb(155, 139, 134);}
h1 {color:brown}
#ctverec {
background-color: aquamarine; width:100px; height: 12px;}
#ctverec2 {height:100px; width:100px; background-color: rgb(201, 201, 201);}
#piskoviste{height:300px; width:600px; border: 4px solid rgb(133, 118, 38); padding: 10px;}