#centrovane{
        display: grid;
gap: 10px;
padding: 10px;
background-color: rgba(95, 95, 95, 0.973);
width: 800px;
margin:auto;
}


header{
    background-color: rgb(56, 170, 132); grid-area: 1/1/3/6; padding: 5px;}
nav{
    background-color: rgba(61, 45, 24, 0.534); grid-area: 3/1/4/6;padding: 5px;}

main  {
    background-color: rgb(54, 99, 84); grid-area: 9/1/8/6;padding: 5px;}

    aside {background-color: rgb(44, 44, 95);
        grid-area: 4/1/7/6;padding: 5px;}

footer {background-color: aqua; grid-area: 7/1/8/6;padding: 5px;}
